#tpl_blog_entry, 
#tpl_blog_blogEntryList,
#tpl_wcf_article {
	.legend-box {
    	background: #fafafa !important;
	}
}

.legend-box {
	background: #f8f9fc !important;
	border: 1px solid #d4dbe0 !important;
  	border-radius: 8px;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}
	
.legend-box-legend {
	color: #2b4959;
	background: #fff !important;
	border: 1px solid #d4dbe0 !important;
  	border-radius: 8px;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}