#tpl_clan_clan {
	.embeddedAttachmentLink img {
		margin-right: 20px;
		border-radius: 8px;
	}
}

.jsLabelFeaturedClan .icon16 {
	margin-right: 5px;
	color: yellow;
}

.formNoNeeded {
	display: none;
}

.clan_featured {
	margin-top: 20px;
	text-align: center;
}

.clan-edit-button {
	margin-right: 3px;
}

.test {
    font-size: 12px;
}