
#tpl_wcf_wicked {
	.content .section {
		background: #efefef;
		padding: 16px;
		border-radius: 12px;
	
	
	ul ::marker {
		content: '\f0a9' ' ' !important;
        font-family: FontAwesome;
		color: #3579BD;
		font-size: 16px;
	}
	
	li {
		margin-left: 20px !important;
	}
		
	}
}