.sven-trinkgeld-ausgeben {
	.paypal-spende img {
        cursor: pointer;
        width: 100px !important;
        height: 100px !important;
    }
	
	.scTabmenuBBCode .tabMenuContent:not(.tabMenuContainer) {
		border: none !important;
		padding: 0 !important;
	}
}


.spenden-box {
	margin: 20px 0 30px 0 !important;
}