// 1. 2 Broke Girls
.two-broke-girls {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/418/");
}

// 2. Avatar - Der Herr der Elemente
.avatar-dhde {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/60/");
}

// 3. Alex Rider
.alex-rider {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/59/");
}

// 4. Barry
.barry {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/61/");
}

// 5. Breaking Bad
.breaking-bad {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/63/");
}

// 6. Brooklyn Nine Nine
.brooklyn-99 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/67/");
}

// 7. Chernobly
.chernobly {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/64/");
}

// 8. Chuck
.chuck {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/62/");
}

// 9. Criminal Minds: Beyond Borders
.criminal-minds_bb {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/66/");
}

// 10. Criminal Minds
.criminal-minds {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/65/");
}

// 11. Dan Browns The Lost Symbol
.dan-browns-tls {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/68/");
}

// 12. DARK
.dark {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/70/");
}

// 13. Dragonball
.db {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/75/");
}

// 14. Dragonball GT
.dbgt {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/72/");
}

// 15. Dragonball Z
.dbz {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/74/");
}

// 16. Demon Slayer: Kimetsu no Yaiba
.demon-slayer_serie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/73/");
}

// 17. Die großen Mythen
.dgm {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/69/");
}

// 18. Der Herr der Ringe: Die Ringe der Macht
.dhdr-drdm {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/420/");
}

// 19. Drawn Together
.drawn-together {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/76/");
}

// 20. Eine Billion Dollar
.eine-billion-dollar {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/419/");
}

// 21. Fairy Tail
.fairy-tail {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/77/");
}

// 22. Game of Thrones
.got {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/78/");
}

// 23. Gen V
.gen-v {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/421/");
}

// 24. Greys Anothomy
.greys-anothomy {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/81/");
}

// 25. Halo
.halo {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/133/");
}

// 26. House
.house {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/79/");
}

// 27. House of the Dragons
.house-of-the-dragons {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/82/");
}

// 28. Law & Order: Criminal Intent
.luo-ci {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/80/");
}

// 29. Law & Order: Organized Crimes
.luo-oc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/83/");
}

// 30. Law & Order: Special Victims Unit
.luo-svu {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/84/");
}

// 31. Lie to Me
.ltm {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/85/");
}

// 32. Loki
.loki {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/86/");
}

// 33. Lucifer
.lucifer {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/88/");
}

// 34. Naruto
.naruto {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/87/");
}

// 35. NCIS
.ncis {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/90/");
}

// 36. One Piece (1999)
.one-piece_anime {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/89/");
}

// 37. One Piece (2023)
.one-piece_serie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/91/");
}

// 38. Person of Interest
.person-of-interest {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/92/");
}

// 39. Pokemon
.pokemon {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/93/");
}

// 40. Prison Break
.prison-break {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/94/");
}

// 41. Resident Alien
.resisdent-alien {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/95/");
}

// 42. Shamless - Nicht ganz nüchtern
.shamless {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/98/");
}

// 43. Sherlock
.sherlock {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/96/");
}

// 44. Shrinking
.shrinking {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/101/");
}

// 45. Silo
.silo {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/99/");
}

// 46. Supernatural
.supernatural {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/97/");
}

// 47. Tom Clany´s Jack Ryan
.tc_jack-ryan {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/112/");
}

// 48. The Boys
.the-boys {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/100/");
}

// 49. The Mentalist
.the-mentalist {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/103/");
}

// 50. The Rookie
.the-rookie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/106/");
}

// 51. The Rookie: Feds
.the-rookie-feds {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/105/");
}

// 52. The Last of Us
.tlou {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/104/");
}

// 53. The Walking Dead
.twd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/109/");
}

// 54. The Walking Dead: Daryl Dixon
.twd_dd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/71/");
}

// 55. The Walking Dead: Dead City
.twd_dc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/107/");
}

// 56. The Walking Dead: The One Who Lives
.twd_towl {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/108/");
}

// 57. The Winchesters
.the-flash {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/102/");
}

// 58. The Winchesters
.the-winchesters {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/110/");
}

// 59. The Witcher
.the-witcher {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/111/");
}

// 60. Timeless
.timeless {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/113/");
}