.ueber-supernatural {
	.htmlContent h2 {
		margin-top: 0 !important;
	}
	.scTabmenuBBCode .tabMenuContent {
		background: #fff !important;
		border: 0 !important;
		border-radius: 12px !important;
	}
    .legend-box {
        box-shadow: none !important;
    }
}
